
  .container {
    width: calc(100% + 550px);
    height: 100%;
    position: relative;
    top: 0;
    left: 240px;
    display: grid;
    grid-template-columns: repeat(1, 750px);
    justify-content: center;
    grid-auto-flow: row;
    overflow: auto;
    
    .new-quote {
      padding: 0 20px;  
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 25px;

      button {
        height: 80%;
      }
    }

    a {
      text-decoration: none;
    }

    li {
      list-style-type:none;
      min-width: 750px;
      margin: 15px;
      padding: 25px;
      background: #F4F4F4;
      border: none;
      border-radius: 10px;
      box-shadow: -3px -3px 7px #ffffff, 5px 5px 5px rgba(94, 104, 121, .288);
    }
  
};

